.versions__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 576px) {
  .versions__list {
    flex-direction: row;
    row-gap: 0;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 40px;
  }
}