.header__search {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/search.svg);
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  .header__search {
    margin-right: 30px;
  }
}