.header__burger {
  background-color: #4C5866;
  width: 20px;
  height: 2px;
  position: relative;
}

.header__burger::before {
  position: absolute;
  content: '';
  top: 8px;
  left: 0;
  background-color: #4C5866;
  width: 100%;
  height: 2px;
}

.header__burger::after {
  position: absolute;
  content: '';
  bottom: 8px;
  left: 0;
  background-color: #4C5866;
  width: 100%;
  height: 2px;
}