.sponsors__img {
  box-sizing: border-box;
  padding: 15px;
  width: 150px;
  height: 80px;
  border: 1px solid #85859B;
}

@media screen and (min-width: 576px) {
  .sponsors__img {
    width: 240px;
  }
}